:root {
  /* color palette */
  --primariy-color: #FA4137;
  --secondary-color: ;
}


/* general stylings */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

h1,
h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

/* header */

.page-header {
  width: 100%;
  height: 100px;
  display: inline-block;
  background-color: var(--primariy-color);
}

.wrap {
  width: 800px;
  margin: 0 auto;
}

.logo {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

/* main */

.pokemon-list {
  list-style: none;
  padding: 0;
}

.pokemon-list > li {
  width: max-content;
  margin: 0 auto;
}

.list-button {
  display: inline-block;
  width: 200px;
  margin: 3px 0;
  background-color: gray;
  color: white;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.list-button:hover,
.list-button:focus {
  opacity: 0.8;
}