:root {
  /* color palette */
  --primariy-color: #FA4137;
  --secondary-color: ;
}


/* general stylings */

* {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* header */

.navbar-collapse {
  justify-content: inherit;
}

.pokeball-logo {
  float: left;
}

.navbar-brand {
  margin-right: 3vw;
}

.brand-name {
  font-size: 1.5em;
  margin: 0;
  margin-left: 60px;
  padding: 5px;
  transition: 00.2s color;
}

.brand-name:hover,
.brand-name:focus {
  color: black;
}

.app-info-link {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.2s color;
}

.app-info-link:visited {
  color: whitesmoke;
}

.app-info-link:hover,
.app-info-link:focus {
  text-decoration: none;
  color: black;
}

.app-info-link:active {
  color: black;
}

/* main */

.content {
  padding-top: 120px;
}

li > .btn {
  height: 50px;
}

.group-list-item {
  margin: 3px;
  list-style: none;
  padding: 0;
}


.btn,
.title-element,
.types-element,
.abilities-element {
  text-transform: capitalize;
}

.title-element,
.height-element,
.weight-element,
.types-element,
.abilities-element {
  text-align: left;
}

/* modal */

.modal-header {
  border-bottom: none;
  background-color: lightcoral;
}

.modal-footer {
  border-top: none;
  background-color: lightcoral;
}

.modal-close-button {
  background-color:  whitesmoke;
  color: black;
  transition: 0.2s opacity;
}

.modal-close-button:hover,
.modal-close-button:focus {
  opacity: 0.9;
}

.modal-img {
  margin-bottom: 30px;
}

.modal-body p,
li {
  text-align: left;
}